<html>
<head>
  <title> صفحه ورودبه سایت اصلی </title>
</head>
<body>

<form class="part1">
  <fieldset>
    <legend>ورود به بخش آموزش</legend>
    <label for="email">ایمیل&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id="email" type="email" placeholder="name@mail.com">

    <br>  <label for="password">رمز عبور</label>
    <input id="password" type="password" placeholder="password">

    <label for="remember" class="pure-checkbox">
      <br> <input id="remember" type="checkbox"> مرا به خاطر بسپار</label>

    <button type="submit" class="part1">ورود</button>
  </fieldset>
</form>
</body>
</html>
